<form action="/storage/create" method="POST">
<select name="item">
<% items.forEach( item=> { %>
    <option label="<%=item.productName %>" value="<%=item.id%>">
      <%})%>
</select>
      

<input name="quantity" type="number" placeholder="Количество">
      <input name="date" type="date" placeholder="Дата">
      <input type="submit" value="Добавить на склад">
</form>

