<form action="/employees/create" method="POST">
    <input placeholder="Имя рабочего" name="employeeName">
    <select name="departament">
        <% departaments.forEach( departament => { %>
            <option label = "<%=departament.departamentName %>" value="<%=departament.id%>">
                <%})%>
    </select>
    <input placeholder="Должность" name="position">
    <input placeholder="Номер паспорта" name="pasport">
    <input type="submit" value="Создать">
</form>