<form action="/producers/create" method="POST">
    <input placeholder="Имя мастера" name="producerName">
    <input placeholder="Артикул" name="workshop">
    <input placeholder="Разряд мастера" name="level">
    <input placeholder="Номер паспорта" name="pasport">
    <input type="submit" value="Создать">
</form>