<h1>Клиенты</h1>
<table align="center"rules="cols">
<tr>
    <td>Имя</td>
    <td>Дата</td>
    <td>Покупка</td>
    <td>Сумма</td>
</tr>
<% clients.forEach(client => { %>
    <tr> 
        <td><%= client.client %></td>
        <td><%= client.Date.toLocaleDateString()%></td>
        <td><%= client.item.productName%></td> 
        <td><%= client.summ%></td> 
    </tr>
    
<%});%>
</table>