<form action="/create" method="POST">
    <input placeholder="Название" name="detailName">
    <input placeholder="Артикул" name="detailId">
    <select name="productType">
        <option value="Деталь"label="Деталь">
        <option value="Изделие" label="Изделие">
    </select>
    <textarea placeholder="Описание" name="detailDescription"></textarea>
    <input type="submit" value="Создать">
</form>